
@import "~bootstrap/scss/bootstrap";



nav , .card , .single-product-container, .input-group-lg {
    font-family:flamenco;
}
.nav-link{
    font-size: xx-large;
}
.NumberofDrink, .text-center{
    font-family:flamenco;
        font-size: xx-large;
}
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";